# PANDAS
# Loading data

In [75]:
import pandas as pd

In [76]:
df= pd.read_csv('stock.csv')

In [77]:
print(df)

            Date    Open     High      Low    Close  Volume  OpenInt
0     2010-07-21  24.333  24.3330  23.9460  23.9460   43321        0
1     2010-07-22  24.644  24.6440  24.3620  24.4870   18031        0
2     2010-07-23  24.759  24.7590  24.3140  24.5070    8897        0
3     2010-07-26  24.624  24.6240  24.4490  24.5950   19443        0
4     2010-07-27  24.477  24.5170  24.4310  24.5170    8456        0
...          ...     ...      ...      ...      ...     ...      ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500   41601        0
1561  2017-11-07  57.290  57.3460  57.1446  57.2850   50935        0
1562  2017-11-08  57.310  57.5500  57.2200  57.4900   71770        0
1563  2017-11-09  57.230  57.2300  56.7100  56.9265   53130        0
1564  2017-11-10  56.960  56.9600  56.3909  56.4000   29233        0

[1565 rows x 7 columns]

# Reading data

In [78]:
print(df)

            Date    Open     High      Low    Close  Volume  OpenInt
0     2010-07-21  24.333  24.3330  23.9460  23.9460   43321        0
1     2010-07-22  24.644  24.6440  24.3620  24.4870   18031        0
2     2010-07-23  24.759  24.7590  24.3140  24.5070    8897        0
3     2010-07-26  24.624  24.6240  24.4490  24.5950   19443        0
4     2010-07-27  24.477  24.5170  24.4310  24.5170    8456        0
...          ...     ...      ...      ...      ...     ...      ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500   41601        0
1561  2017-11-07  57.290  57.3460  57.1446  57.2850   50935        0
1562  2017-11-08  57.310  57.5500  57.2200  57.4900   71770        0
1563  2017-11-09  57.230  57.2300  56.7100  56.9265   53130        0
1564  2017-11-10  56.960  56.9600  56.3909  56.4000   29233        0

[1565 rows x 7 columns]

In [79]:
print(df.head(3))

         Date    Open    High     Low   Close  Volume  OpenInt
0  2010-07-21  24.333  24.333  23.946  23.946   43321        0
1  2010-07-22  24.644  24.644  24.362  24.487   18031        0
2  2010-07-23  24.759  24.759  24.314  24.507    8897        0

# Making changes

In [80]:
df['Total']=df['Open'] + df['High'] + df['Low']

In [81]:
print(df.head(5))

         Date    Open    High     Low   Close  Volume  OpenInt   Total
0  2010-07-21  24.333  24.333  23.946  23.946   43321        0  72.612
1  2010-07-22  24.644  24.644  24.362  24.487   18031        0  73.650
2  2010-07-23  24.759  24.759  24.314  24.507    8897        0  73.832
3  2010-07-26  24.624  24.624  24.449  24.595   19443        0  73.697
4  2010-07-27  24.477  24.517  24.431  24.517    8456        0  73.425

In [82]:
24.333+24.333+23.496

72.16199999999999

In [83]:
df=df.drop(columns=['Volume'])
print(df)

            Date    Open     High      Low    Close  OpenInt     Total
0     2010-07-21  24.333  24.3330  23.9460  23.9460        0   72.6120
1     2010-07-22  24.644  24.6440  24.3620  24.4870        0   73.6500
2     2010-07-23  24.759  24.7590  24.3140  24.5070        0   73.8320
3     2010-07-26  24.624  24.6240  24.4490  24.5950        0   73.6970
4     2010-07-27  24.477  24.5170  24.4310  24.5170        0   73.4250
...          ...     ...      ...      ...      ...      ...       ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500        0  172.5757
1561  2017-11-07  57.290  57.3460  57.1446  57.2850        0  171.7806
1562  2017-11-08  57.310  57.5500  57.2200  57.4900        0  172.0800
1563  2017-11-09  57.230  57.2300  56.7100  56.9265        0  171.1700
1564  2017-11-10  56.960  56.9600  56.3909  56.4000        0  170.3109

[1565 rows x 7 columns]

In [84]:
print(df[['Date','Low']])

            Date      Low
0     2010-07-21  23.9460
1     2010-07-22  24.3620
2     2010-07-23  24.3140
3     2010-07-26  24.4490
4     2010-07-27  24.4310
...          ...      ...
1560  2017-11-06  57.2285
1561  2017-11-07  57.1446
1562  2017-11-08  57.2200
1563  2017-11-09  56.7100
1564  2017-11-10  56.3909

[1565 rows x 2 columns]

In [85]:
print(df.iloc[1:3])

         Date    Open    High     Low   Close  OpenInt   Total
1  2010-07-22  24.644  24.644  24.362  24.487        0  73.650
2  2010-07-23  24.759  24.759  24.314  24.507        0  73.832

In [86]:
print(df.iloc[1,0])

2010-07-22

# NETFLIX DATASET

In [87]:
import pandas as pd
dset=pd.read_csv('netflix_titles.csv')

In [37]:
dset.head()

   area   price  rooms  age
0  2000  100000      2   40
1  3000  200000      3   30
2  4000  300000      4   25
3  5000  400000      5   20
4  6000  500000      6   15

In [130]:
dset.loc[dset['type']== "TV Show"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Espana,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
26,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...
...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [131]:
dset.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [132]:
dset.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

# Saving data

In [133]:
print(dset)

       show_id     type                                        title  \
0     81145628    Movie      Norm of the North: King Sized Adventure
1     80117401    Movie                   Jandino: Whatever it Takes
2     70234439  TV Show                           Transformers Prime
3     80058654  TV Show             Transformers: Robots in Disguise
4     80125979    Movie                                 #realityhigh
...        ...      ...                                          ...
6229  80000063  TV Show                                 Red vs. Blue
6230  70286564  TV Show                                        Maron
6231  80116008    Movie       Little Baby Bum: Nursery Rhyme Friends
6232  70281022  TV Show  A Young Doctor's Notebook and Other Stories
6233  70153404  TV Show                                      Friends

                      director  \
0     Richard Finn, Tim Maltby
1                          NaN
2                          NaN
3                          NaN
4             Fernando Lebrija
...                        ...
6229                       NaN
6230                       NaN
6231                       NaN
6232                       NaN
6233                       NaN

                                                   cast  \
0     Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                      Jandino Asporaat
2     Peter Cullen, Sumalee Montano, Frank Welker, J...
3     Will Friedle, Darren Criss, Constance Zimmer, ...
4     Nesta Cooper, Kate Walsh, John Michael Higgins...
...                                                 ...
6229  Burnie Burns, Jason Saldaña, Gustavo Sorola, G...
6230  Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...
6231                                                NaN
6232  Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
6233  Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...

                                       country         date_added  \
0     United States, India, South Korea, China  September 9, 2019
1                               United Kingdom  September 9, 2016
2                                United States  September 8, 2018
3                                United States  September 8, 2018
4                                United States  September 8, 2017
...                                        ...                ...
6229                             United States                NaN
6230                             United States                NaN
6231                                       NaN                NaN
6232                            United Kingdom                NaN
6233                             United States                NaN

      release_year    rating    duration  \
0             2019     TV-PG      90 min
1             2016     TV-MA      94 min
2             2013  TV-Y7-FV    1 Season
3             2016     TV-Y7    1 Season
4             2017     TV-14      99 min
...            ...       ...         ...
6229          2015        NR  13 Seasons
6230          2016     TV-MA   4 Seasons
6231          2016       NaN      60 min
6232          2013     TV-MA   2 Seasons
6233          2003     TV-14  10 Seasons

                                              listed_in  \
0                    Children & Family Movies, Comedies
1                                       Stand-Up Comedy
2                                              Kids' TV
3                                              Kids' TV
4                                              Comedies
...                                                 ...
6229  TV Action & Adventure, TV Comedies, TV Sci-Fi ...
6230                                        TV Comedies
6231                                             Movies
6232           British TV Shows, TV Comedies, TV Dramas
6233                     Classic & Cult TV, TV Comedies

                                            description
0     Before planning an awesome wedding for his gra...
1     Jandino Asporaat riffs on the challenges of ra...
2     With the help of three human allies, the Autob...
3     When a prison ship crash unleashes hundreds of...
4     When nerdy high schooler Dani finally attracts...
...                                                 ...
6229  This parody of first-person shooter games, mil...
6230  Marc Maron stars as Marc Maron, who interviews...
6231  Nursery rhymes and original music for children...
6232  Set during the Russian Revolution, this comic ...
6233  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

In [93]:
print(df)

            Date    Open     High      Low    Close  OpenInt     Total
0     2010-07-21  24.333  24.3330  23.9460  23.9460        0   72.6120
1     2010-07-22  24.644  24.6440  24.3620  24.4870        0   73.6500
2     2010-07-23  24.759  24.7590  24.3140  24.5070        0   73.8320
3     2010-07-26  24.624  24.6240  24.4490  24.5950        0   73.6970
4     2010-07-27  24.477  24.5170  24.4310  24.5170        0   73.4250
...          ...     ...      ...      ...      ...      ...       ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500        0  172.5757
1561  2017-11-07  57.290  57.3460  57.1446  57.2850        0  171.7806
1562  2017-11-08  57.310  57.5500  57.2200  57.4900        0  172.0800
1563  2017-11-09  57.230  57.2300  56.7100  56.9265        0  171.1700
1564  2017-11-10  56.960  56.9600  56.3909  56.4000        0  170.3109

[1565 rows x 7 columns]

In [94]:
df.to_csv('new_stock.csv',index=[False])

# Filtering data

In [95]:
df

            Date    Open     High      Low    Close  OpenInt     Total
0     2010-07-21  24.333  24.3330  23.9460  23.9460        0   72.6120
1     2010-07-22  24.644  24.6440  24.3620  24.4870        0   73.6500
2     2010-07-23  24.759  24.7590  24.3140  24.5070        0   73.8320
3     2010-07-26  24.624  24.6240  24.4490  24.5950        0   73.6970
4     2010-07-27  24.477  24.5170  24.4310  24.5170        0   73.4250
...          ...     ...      ...      ...      ...      ...       ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500        0  172.5757
1561  2017-11-07  57.290  57.3460  57.1446  57.2850        0  171.7806
1562  2017-11-08  57.310  57.5500  57.2200  57.4900        0  172.0800
1563  2017-11-09  57.230  57.2300  56.7100  56.9265        0  171.1700
1564  2017-11-10  56.960  56.9600  56.3909  56.4000        0  170.3109

[1565 rows x 7 columns]

In [134]:
dset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [135]:
dset.loc[(dset['type'] =='TV Show') | (dset['duration'] == "1 Season")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Espana,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
26,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...
...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [35]:
 dset1= dset[(dset['type'] =='TV Show') & (dset['duration'] =="1 Season") & (dset['country']=='Spain')]

KeyError: 'type'

In [137]:
dset1

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [116]:
dset1.to_csv('filtered_netflix.csv')

# indexing

In [100]:
dset1= dset1.reset_index()

In [101]:
dset1

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
1,161,81000389,TV Show,The Hockey Girls,"Kiko Cruz Claverol, Patricia Font","Iria del Río, Nora Navas, Josep Linuesa, Natàl...",Spain,"September 20, 2019",2019,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",The passionate members of a girls' roller hock...
2,530,81010786,TV Show,Drug Squad: Costa del Sol,NaN,"Hugo Silva, Álvaro Cervantes, Miki Esparbé, Je...",Spain,"October 25, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Four intrepid and impulsive police officers fo...
3,535,81062582,TV Show,Nailed It! Spain,NaN,"La Terremoto de Alcorcón, Christian Escribà",Spain,"October 25, 2019",2019,TV-PG,1 Season,"International TV Shows, Reality TV, Spanish-La...","On this competition show, novice bakers try to..."
4,1132,80235857,TV Show,Fugitiva,NaN,"Paz Vega, Julio Bracho, Arantza Ruiz, Luisa Ru...",Spain,"November 23, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A domestic abuse survivor orchestrates an elab...
5,1375,80241387,TV Show,Hache,NaN,"Adriana Ugarte, Javier Rey, Eduardo Noriega, M...",Spain,"November 1, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",As Helena gains the love and trust of a danger...
6,2048,80992232,TV Show,Bitter Daisies,Miguel Conde,"María Mera, Toni Salgado, Miquel Insua, Denis ...",Spain,"March 29, 2019",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",While investigating the disappearance of a tee...
7,2177,80988860,TV Show,If I Hadn't Met You,NaN,"Pablo Derqui, Mercedes Sampietro, Andrea Ros, ...",Spain,"March 15, 2019",2018,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Eduard, a husband and father who loses his fam..."
8,2640,80213115,TV Show,The Alcàsser Murders,Elías León,NaN,Spain,"June 15, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",New interviews and an up-to-date analysis of e...
9,2838,80212251,TV Show,Welcome to the Family,NaN,"Melani Olivares, Ivan Massagué, Yolanda Ramos,...",Spain,"July 27, 2018",2018,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",When an evicted single mom's estranged father ...
10,2934,80233223,TV Show,Camarón Revolution,NaN,"Camarón de la Isla, Juan Diego",Spain,"July 18, 2018",2018,TV-14,1 Season,"Docuseries, International TV Shows, Spanish-La...",The extraordinary life and career of flamenco ...
11,3291,80991879,TV Show,Examination of Conscience,NaN,NaN,Spain,"January 25, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Allegations of child sexual abuse in Spain's C...
12,3350,80215322,TV Show,Tiempos de guerra,NaN,"Amaia Salamanca, Álex García, Alicia Borracher...",Spain,"January 18, 2018",2017,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, Spa...","In 1921, nurse trainees from Madrid's upper cl..."
13,3757,80241001,TV Show,Unauthorized Living,NaN,"José Coronado, Álex González, Claudia Traisac,...",Spain,"February 8, 2019",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",When a Galician shipper and drug lord hiding h...
14,4025,80997225,TV Show,Lo que la verdad esconde: El caso Asunta (Oper...,NaN,NaN,Spain,"February 1, 2019",2017,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...",This true crime series investigates newfound e...
15,4139,80987516,TV Show,Three Days of Christmas,NaN,"Victoria Abril, Elena Anaya, Mar Ayala, Nerea ...",Spain,"December 6, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",Four sisters deal with family drama and secret...
16,4156,80211229,TV Show,Cleo & Cuquin,Fernando Moro,NaN,Spain,"December 5, 2018",2018,TV-Y,1 Season,Kids' TV,Spirited sister-brother duo Cleo and Cuquín tr...
17,4233,80990609,TV Show,The Neighbor,NaN,"Quim Gutiérrez, Clara Lago, Adrián Pino, Catel...",Spain,"December 31, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",Self-centered Javier's life gets a bit messy w...
18,4709,80134797,TV Show,Merlí,NaN,"Francesc Orella, David Solans, Candela Antón, ...",Spain,"December 1, 2016",2015,TV-MA,1 Season,"International TV Shows, TV Dramas, Teen TV Shows",An unconventional high school philosophy teach...
19,4791,80150507,TV Show,Cathedral of the Sea,NaN,"Daniel Grao, Ginés García Millán, Óscar Hernán...",Spain,"August 31, 2018",2017,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In 14th-century Barcelona, a serf's determined..."
20,4812,80215500,TV Show,Cocaine Coast,NaN,"Javier Rey, Tristán Ulloa, Antonio Durán 'Morr...",Spain,"August 3, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","In 1980s Galicia, Spain, a young fisherman bec..."
21,4956,81040407,TV Show,45 rpm,NaN,"Carlos Cuevas, Guiomar Puerta, Iván Marcos, Is...",Spain,"August 16, 2019",2019,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, Spa...","In 1960s Madrid, music producer Guillermo Roja..."
22,4969,81078331,TV Show,Victim Number 8,NaN,"César Mateo, María de Nati, Verónika Moral, Iñ...",Spain,"August 16, 2019",2018,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",No one can be trusted after a terrorist bombin...

In [138]:
dset1.to_csv('filtered_netflix.csv')

# Conditional Changes

In [103]:
dset.loc[dset['country']=='Spain', 'country'] = 'Espana'

In [104]:
dset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [105]:
dset.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Espana,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...
10,80169755,Movie,Joaquín Reyes: Una y no más,José Miguel Contreras,Joaquín Reyes,NaN,"September 8, 2017",2017,TV-MA,78 min,Stand-Up Comedy,Comedian and celebrity impersonator Joaquín Re...
11,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,"Action & Adventure, Dramas, International Movies","When beer magnate Alfred ""Freddy"" Heineken is ..."
12,80182480,Movie,Krish Trish and Baltiboy,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2009,TV-Y7,58 min,Children & Family Movies,"A team of minstrels, including a monkey, cat a..."
13,80182483,Movie,Krish Trish and Baltiboy: Battle of Wits,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,62 min,Children & Family Movies,"An artisan is cheated of his payment, a lion o..."
14,80182596,Movie,Krish Trish and Baltiboy: Best Friends Forever,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Deepak...",NaN,"September 8, 2017",2016,TV-Y,65 min,Children & Family Movies,"A cat, monkey and donkey team up to narrate fo..."
15,80182482,Movie,Krish Trish and Baltiboy: Comics of India,Tilak Shetty,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2012,TV-Y7,61 min,Children & Family Movies,"In three comic-strip-style tales, a boy tries ..."
16,80182597,Movie,Krish Trish and Baltiboy: Oversmartness Never ...,Tilak Shetty,"Rishi Gambhir, Smita Malhotra, Deepak Chachra",NaN,"September 8, 2017",2017,TV-Y7,65 min,Children & Family Movies,"A cat, monkey and donkey learn the consequence..."
17,80182481,Movie,Krish Trish and Baltiboy: Part II,NaN,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2010,TV-Y7,58 min,Children & Family Movies,Animal minstrels narrate stories about a monke...
18,80182621,Movie,Krish Trish and Baltiboy: The Greatest Trick,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,60 min,Children & Family Movies,The consequences of trickery are explored in s...
19,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...

In [106]:
df

            Date    Open     High      Low    Close  OpenInt     Total
0     2010-07-21  24.333  24.3330  23.9460  23.9460        0   72.6120
1     2010-07-22  24.644  24.6440  24.3620  24.4870        0   73.6500
2     2010-07-23  24.759  24.7590  24.3140  24.5070        0   73.8320
3     2010-07-26  24.624  24.6240  24.4490  24.5950        0   73.6970
4     2010-07-27  24.477  24.5170  24.4310  24.5170        0   73.4250
...          ...     ...      ...      ...      ...      ...       ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500        0  172.5757
1561  2017-11-07  57.290  57.3460  57.1446  57.2850        0  171.7806
1562  2017-11-08  57.310  57.5500  57.2200  57.4900        0  172.0800
1563  2017-11-09  57.230  57.2300  56.7100  56.9265        0  171.1700
1564  2017-11-10  56.960  56.9600  56.3909  56.4000        0  170.3109

[1565 rows x 7 columns]

In [107]:
df.loc[df['Total'] < 150,['High','Low']]='XXX'

In [108]:
df

            Date    Open     High      Low    Close  OpenInt     Total
0     2010-07-21  24.333      XXX      XXX  23.9460        0   72.6120
1     2010-07-22  24.644      XXX      XXX  24.4870        0   73.6500
2     2010-07-23  24.759      XXX      XXX  24.5070        0   73.8320
3     2010-07-26  24.624      XXX      XXX  24.5950        0   73.6970
4     2010-07-27  24.477      XXX      XXX  24.5170        0   73.4250
...          ...     ...      ...      ...      ...      ...       ...
1560  2017-11-06  57.610  57.7372  57.2285  57.6500        0  172.5757
1561  2017-11-07  57.290   57.346  57.1446  57.2850        0  171.7806
1562  2017-11-08  57.310    57.55    57.22  57.4900        0  172.0800
1563  2017-11-09  57.230    57.23    56.71  56.9265        0  171.1700
1564  2017-11-10  56.960    56.96  56.3909  56.4000        0  170.3109

[1565 rows x 7 columns]

# Practice Problem (multivariate linear regression)

In [23]:
from sklearn import linear_model
import pandas as pd

In [24]:
df=pd.read_csv('demoreg.csv')
df

   area  rooms  age   price
0  2000      2   40  100000
1  3000      3   30  200000
2  4000      4   25  300000
3  5000      5   20  400000
4  6000      6   15  500000

In [25]:
reg=linear_model.LinearRegression()

In [29]:
reg.fit(df[['area','rooms','age']], df.price)

LinearRegression()

In [30]:
reg.coef_

array([9.99999000e+01, 9.99999000e-02, 1.84065124e-11])

In [31]:
reg.intercept_

-100000.00000000093

In [32]:
reg.predict([[3000,3,30]])

array([200000.])

In [34]:
#For area=3700, rooms=3 and age 17
reg.predict([[3700,3,17]])

array([269999.93000007])